#NODE MODULES
node_modules

#CONFIG
.env
.vscode

#ARQ
TSCM - Relatório Conectividade.pdf
TSCM - Relatório Tasconecta.pdf
src/log/archives
src/log/dailyRotateFile
src/log/auditLogger

#COVERAGE
coverage
